<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PERSON INFO</title>
</head>
<body>
<p th:text="${person.getFullName()}">value</p>
<p th:text="${person.getYearsOfBirthday()}">value</p>
<p th:text="${person.getId_person()}">value</p>
<br>
<a th:href="@{/people/{id}/edit(id=${person.getId_person()})}">EDIT</a>
<br>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId_person()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>