<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EDIT GAME</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/games/{id}(id=${updateGame.getId_game()})}" th:object="${updateGame}">
    <label for="title">Enter title : </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title error</div>

    <br><br>
    <label for="publisher">Enter author : </label>
    <input type="text" th:field="*{publisher}" id="publisher"/>
    <div  style="color: red" th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}">publisher error</div>

    <br><br>
    <label for="year">Enter year : </label>
    <input type="text" th:field="*{year}" id="year"/>
    <div  style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Age error</div>

    <br><br>

    <input type="submit" value="Update"/>
</form>

</body>
</html>